<h1 class="text-center">List of users</h1>
<br>
<section class="row">
 <div *ngFor="let user of users" class="padding-right">
<div class="card" style="width: 18rem;" *ngIf="users.length > 0">
  <div *ngIf="user.photoURL !==''" class="text-center">
      <img class="card-img-top photoURL" [src]="user.photoURL" alt="Card image cap">
  </div>
  <div *ngIf="user.photoURL === ''" class="text-center">
      <img class="card-img-top photoURL" src="../../../../assets/images/default-avatar.png" alt="Card image cap">
  </div>
  <div class="card-body">
    <h5 class="card-title text-center" [ngClass]="(user.status=='online')?'online':'offline'">{{user.username}}</h5>
    <h6 class="card-text text-center"><i class="fas fa-map-marker-alt padding-right"></i> {{user.country}}</h6>
    <hr/>
    <p class="card-text">
      <i class="fas fa-address-card padding-right"></i> {{user.firstname}} {{user.lastname}} <br>
      <i class="fas fa-birthday-cake padding-right"></i> {{user.age}} <br>
      <i class="fas fa-envelope padding-right"></i> {{user.email}} <br>
      <i class="fas fa-shield-alt padding-right"></i> {{user.clanId}}
    </p>
    <button class="btn btn-sm btn-primary float-right">Edit <i class="fas fa-wrench"></i></button>
  </div>
</div>
</div>
</section>
